<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %d{dd/MM/yyyy HH:mm:ss} %p [%c{1}] %m%n
                </pattern>

            </PatternLayout>
        </Console>
        <RollingFile name="cdr-log" fileName="${log-path}/payment.log"
                     filePattern="${log-path}/payment-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>
                    %d{dd/MM/yyyy HH:mm:ss} %p [%c{1}] %m%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="Console-Appender"/>
        </Root>
        <Logger name="vn.edu.fpt" level="debug" additivity="false">
            <AppenderRef ref="cdr-log" level="debug"/>
            <AppenderRef ref="Console-Appender" level="debug"/>
        </Logger>
    </Loggers>
</Configuration>
